In [4]:
pasted = """Month	Pageviews
12/2015	31,958
1/2016	42,402
2/2016	39,362
3/2016	3211171237
4/2016	29,088
5/2016	30,489
6/2016	41,309
7/2016	45,094"""

In [2]:
from helpers import *

In [5]:
to_lists(pasted,(True,False))

[['Month',
  '12/2015',
  '1/2016',
  '2/2016',
  '3/2016',
  '4/2016',
  '5/2016',
  '6/2016',
  '7/2016'],
 ['Pageviews',
  Decimal('31958'),
  Decimal('42402'),
  Decimal('39362'),
  Decimal('3211171237'),
  Decimal('29088'),
  Decimal('30489'),
  Decimal('41309'),
  Decimal('45094')]]